@model MyCrudStudent.Models.Student

@{
    ViewData["Title"] = "ErrorPage";
}

<div class="text-center">
    <h1>Ocorreu um erro</h1>
    <p>@ViewData["Message"]</p>
</div>

<p>Para voltar para a página de cadastro clique <a asp-action="StudentRegistry">AQUI</a></p>

<p>Se deseja ver a lista de alunos cadastrados no sistema clique <a asp-action="StudentList">AQUI</a></p>
