@model MyCrudStudent.InputModels.StudentInput

@{
    ViewData["Title"] = "RegistrySucessfull";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Alunos</h1>
</div>

<p>Aluno @Model.StudentName cadastrado com sucesso!</p>

<p>Para cadastrar outro aluno clique <a asp-action="StudentRegistry">AQUI</a></p>

<p>Se deseja ver a lista de alunos cadastrados no sistema clique <a asp-action="StudentList">AQUI</a></p>

