@model MyCrudStudent.Models.Student

@{
    ViewData["Title"] = "RemoveSucessfull";
}

<div class="text-center">
    <h1 class="display-4">Exclusão de Alunos</h1>
</div>

<p>Aluno excluido com sucesso!</p>

<p>Se deseja ver a lista de alunos cadastrados no sistema clique <a asp-action="StudentList">AQUI</a></p>