@model MyCrudStudent.Models.Student

@{
    ViewData["Title"] = "MyCrudStudent";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Alunos</h1>
    <p>Insira os dados para cadastro do aluno.</p>
</div>
<div>
    <form asp-action="StudentRegistry" method="post" class="registry">
       
        <div>
            <label asp-for="StudentName">Nome do aluno:</label>
            <input asp-for="StudentName" type="text" id="student-name" name="StudentName" value="">
        </div>

        <div>
            <label asp-for="BirthDate">Data de nascimento:</label>
            <input asp-for="BirthDate" type="date" id="birth-date" name="BirthDate" value="">
        </div>

        <div>
            <label asp-for="FatherName">Nome do pai:</label>
            <input asp-for="FatherName" type="text" id="father-name" name="FatherName" value="">
        </div>

        <div>
            <label asp-for="MotherName">Nome da mãe:</label>
            <input asp-for="MotherName" type="text" id="mother-name" name="MotherName" value="">
        </div>

        <div>
            <label asp-for="Email">E-mail para contato:</label>
            <input asp-for="Email" type="email" id="email" name="Email" value="">
        </div>

        <div>
            <button type="submit">Cadastrar</button>
        </div>

    </form>
 
        
</div>