@model IEnumerable<MyCrudStudent.Models.Student>

@{
    ViewData["Title"] = "MyCrudStudent";
}

<div class="text-center">
    <h1 class="display-4">Lista de Alunos Cadastrados</h1>
    <p>
        Aqui você vê a lista com todos os alunos cadastrados<br>
        e poderá exlcuir algum aluno apenas clicando em um botão.
    </p>
</div>

<div class="student-list">
    <hr />
    <table>
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome do Aluno</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.StudentName</td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@student.Id">Excluir</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>